*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: solid 1px black; */
}

/***************************************************
palette
***************************************************/


/***************************************************
variables
***************************************************/


/***************************************************
utility
***************************************************/


/***************************************************
general
***************************************************/


/***************************************************
main
***************************************************/
main>div
{
    max-width: 800px;
}

.face-1 
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.computer>div 
{
    background-color: rgb(71, 99, 255);
}

.player>div 
{
    background-color: rgb(255, 99, 71);
}

.dice 
{
  padding: 10px;
  width: 104px;
  height: 104px;
  border-radius: 20px;
  margin-right : 10px;
}

.dot
{
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color:white;
}

.face-2
{
  display: flex ;
  justify-content: space-between;
}

.face-2 .dot:nth-of-type(2) 
{
  align-self: flex-end;
}

.face-3 
{
  display: flex;
  justify-content: space-between;
}

.face-3 .dot:nth-of-type(1) 
{
  align-self :flex-end;
}

.face-3 .dot:nth-of-type(2) 
{
  align-self :center;
}


.face-4 ,
.face-6,
.face-5
{
  display: flex;
  justify-content: space-between;
}

.face-4 .column,
.face-6 .column,
.face-5 .column
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.face-5 .column:nth-of-type(2) 
{
  justify-content: center;
}